<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7afb879a-a941-4f5a-a59c-79c3660ad4a2/resourceGroups/Tomo/providers/Microsoft.Web/sites/TrainScheduleApp</ResourceId>
    <ResourceGroup>Tomo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://trainscheduleapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>trainscheduleapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TrainScheduleApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TrainScheduleApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>